@model Department
@{
	ViewData["Title"] = "Edit";
}

<h1>Edit @Model.Name Department</h1>
<div asp-validation-summary="All" class="text-bg-danger"></div>
<form asp-action="Edit">
	<partial name="PartialViews/_CreateEditPartialView" />
	<input type="submit" value="Save" class="btn btn-primary" /> |
	<a asp-action="Index" asp-controller="Department" class="btn btn-light">Back To List</a>
</form>
@section ValidationScriptSection {
	<partial name="_ValidationScriptsPartial">
}