@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<div asp-validation-summary="All"></div>
		<form asp-action="ResetPassword">

			
			<br />
			<input class="text" asp-for="Password" placeholder="Enter Your New Password" required="">
			<span asp-validation-for="Password" class="text-danger"></span>
			<br />
			<input class="text" asp-for="ComfirmNewPassword" placeholder="Enter Comfirm New Password" required="">
			<span asp-validation-for="ComfirmNewPassword" class="text-danger"></span>
			<br />

			<input type="submit" value="Reset">
		</form>
	</div>
</div>
@section ValidationScriptSection
{
	<partial name="_ValidationScriptsPartial" />
}



